{
  "presets": [
    "es2015","es2016","stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-runtime",
      {
        "helpers": true,
        "polyfill": false, // we polyfill needed features in src/normalize.js
        "regenerator": true,
      }
    ]
  ]
}
